# THIS SHOULD BE ADDED INTO THE SERVER CONFIG INSTEAD AS A SEPARATE .HTACCESS FILE
# FOR USING IT AS IS CAN IMPACT THE SERVER PERFORMANCE AS IT'S READ ON EVERY REQUEST
# SO IT SHOULD BE USED IN THE MAIN CONFIG FILE AND SCOPED ACCORDINGLY

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteRule ^ index.php [L]

</IfModule>